BikingServerSOAP/Project1/Connected Services/Cache/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="CacheJCDecaux" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICacheJCDecaux_getContracts_InputMessage">
    <wsdl:part name="parameters" element="tns:getContracts" />
  </wsdl:message>
  <wsdl:message name="ICacheJCDecaux_getContracts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getContractsResponse" />
  </wsdl:message>
  <wsdl:message name="ICacheJCDecaux_getAllStationsOfContract_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllStationsOfContract" />
  </wsdl:message>
  <wsdl:message name="ICacheJCDecaux_getAllStationsOfContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllStationsOfContractResponse" />
  </wsdl:message>
  <wsdl:portType name="ICacheJCDecaux">
    <wsdl:operation name="getContracts">
      <wsdl:input wsaw:Action="http://tempuri.org/ICacheJCDecaux/getContracts" message="tns:ICacheJCDecaux_getContracts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICacheJCDecaux/getContractsResponse" message="tns:ICacheJCDecaux_getContracts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllStationsOfContract">
      <wsdl:input wsaw:Action="http://tempuri.org/ICacheJCDecaux/getAllStationsOfContract" message="tns:ICacheJCDecaux_getAllStationsOfContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICacheJCDecaux/getAllStationsOfContractResponse" message="tns:ICacheJCDecaux_getAllStationsOfContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICacheJCDecaux" type="tns:ICacheJCDecaux">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getContracts">
      <soap:operation soapAction="http://tempuri.org/ICacheJCDecaux/getContracts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllStationsOfContract">
      <soap:operation soapAction="http://tempuri.org/ICacheJCDecaux/getAllStationsOfContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CacheJCDecaux">
    <wsdl:port name="BasicHttpBinding_ICacheJCDecaux" binding="tns:BasicHttpBinding_ICacheJCDecaux">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/JCDecauxCache/JCDecauxCache/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>